:root {
  --color_main-bleak: #0077ff;
  --color_main: #458cde;
  --color_aczent: #9ddadd;
  --color_wite: #a8bbd9;
  overflow-x: hidden;
}
section {
  padding: 100px 0;
}
.logo {
  height: 54px;
}
.btn-outline-success {
  color: var(--color_main);
}

#pageStart {
  display: flex;
  height: 100dvh;
  background-image: url(images/1379633194_orel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.slogan {
  background-color: RGB(157, 218, 221, 0.7);
  border: 2px solid var(--color_main);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 2px var(--color_wite) 3px;
}
.text-slogan {
  color: var(--color_main-bleak);
}
.title {
  color: var(--color_main-bleak);
  opacity: 100%;
}

#osobenosti {
  background: linear-gradient(var(--color_aczent), var(--color_wite));
}
#vibor {
  background: linear-gradient(var(--color_wite), var(--color_aczent));
}
#consult {
  background: linear-gradient(var(--color_aczent), var(--color_wite));
}
#preimushistva {
  background: linear-gradient(var(--color_wite), var(--color_main));
}
#otzivi {
  background: linear-gradient(var(--color_main), var(--color_main-bleak));
  height: auto;
}

#final {
  background: linear-gradient(var(--color_main-bleak), #414141);
}

#footer {
  background: linear-gradient(#414141, #1f1f1f);
}

.card {
  height: 87vh;
}

/* для фильтра */
